# Core LangChain
# langchain==0.2.10
# langchain-core==0.2.23
# langchain-community==0.2.10

# Groq LLM
# langchain-groq==0.1.6

# Tavily Search
tavily-python>=0.3.0

# Web scraping / web content
beautifulsoup4==4.12.3
readability-lxml
trafilatura
requests==2.31.0
lxml>=5.0.0

# Environment variables
python-dotenv==1.0.1

# Streamlit UI
streamlit>=1.0.0

# Logging / debugging
rich>=13.7.0


langchain
langchain-core
langchain-community
langchain-groq